#Meta
.meta/
.vscode/
.idea/
.github/
.phpintel/
*.sublime-project
.DS_Store

#Env
.env

#Dependencies
node_modules/
vendor/

#Assets
public/build/
public/pwa/
modules/*/Resources/assets/public/fonts/*

#Logs
modules/*/yarn-error.log
npm-debug.log
yarn-error.log
*.log

#Others
*.map
public/hot
public/sitemaps/*
public/sitemap.xml
.php-cs-fixer.cache
yarn.lock
modules/*/yarn.lock
vite.config.js.*
