.home-slider {
    border-radius: $radius-default;
    height: 100%;

    &.slick-initialized {
        .slide {
            &:not(:first-child) {
                display: block;
            }

            .slide-content {
                .caption {
                    display: block;
                }

                .btn-slider {
                    display: inline-block;
                }
            }
        }
    }

    &[data-fade="true"] {
        &:not(.slick-initialized) {
            .slide {
                .slider-image {
                    transform: scale(1);
                }
            }
        }

        .slide {
            &.slick-active {
                .slider-image {
                    transform: scale(1);
                }
            }

            .slider-image {
                transform: scale(1.2);
                transition: transform 800ms cubic-bezier(0.7, 0, 0.3, 1);
            }
        }
    }

    &:hover {
        .slick-arrow {
            opacity: 1;
            visibility: visible;

            &.slick-prev {
                left: 15px;
            }

            &.slick-next {
                right: 15px;
            }
        }
    }

    .slide {
        position: relative;
        height: 520px;
        overflow: hidden;
        border-radius: $radius-default;

        &:not(:first-child) {
            display: none;
        }

        .slider-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 1 !important;
            animation-duration: 3s;
        }
    }

    .slide-content {
        position: absolute;
        top: 0;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;

        &.align-left {
            left: 0;
            justify-content: flex-start;

            .captions {
                margin-left: 100px;
                text-align: left;

                .caption-2 {
                    margin-right: 90px;
                }
            }
        }

        &.align-right {
            right: 0;
            justify-content: flex-end;

            .captions {
                margin-right: 100px;
                text-align: right;

                .caption-2 {
                    margin-left: 90px;
                }
            }
        }

        .captions {
            width: 400px;
        }

        .caption {
            display: none;
        }

        .caption-1 {
            font-size: 48px;
            font-weight: var(--font-light);
            line-height: 48px;
            color: $color-black;
        }

        .caption-2 {
            font-size: 16px;
            line-height: 26px;
            color: $color-gray;
            margin-top: 15px;
        }

        .btn-slider {
            display: none;
            margin-top: 30px;
            padding: 7px 20px;
        }
    }

    .slick-arrow {
        height: 30px;
        width: 30px;
        background: $color-default-transparent-lite;
        background: var(--color-primary-transparent-lite);
        border-radius: $radius-full;
        opacity: 0;
        visibility: hidden;
        transition: $transition-default;

        &:hover {
            background: $color-default;
            background: var(--color-primary);
            opacity: 1;
        }

        &:before {
            color: $color-white;

            &:hover {
                color: $color-white;
            }
        }
    }

    .slick-prev {
        left: -15px;
        right: auto;
    }

    .slick-next {
        right: -15px;
        left: auto;
    }

    .slick-dots {
        right: 20px;
        bottom: 25px;
        width: auto;
    }
}

@media screen and (max-width: 1600px) {
    .home-slider {
        .slide {
            height: 480px;
        }
    }
}

@media screen and (max-width: 1500px) {
    .home-slider {
        .slide {
            height: 460px;
        }
    }
}

@media screen and (max-width: 1400px) {
    .home-slider {
        .slide {
            height: 430px;
        }
    }
}

@media screen and (max-width: 1300px) {
    .home-slider {
        .slide {
            height: 400px;
        }
    }
}

@media screen and (max-width: $xl) {
    .home-slider {
        .slide {
            height: 430px;
        }
    }
}

@media screen and (max-width: $md) {
    .home-slider {
        .slide {
            height: 400px;
        }
    }
}

@media screen and (max-width: $sm) {
    .home-slider {
        .slide {
            height: 350px;
        }
    }
}

@media screen and (max-width: 450px) {
    .home-slider {
        .slide {
            height: 300px;
        }
    }
}

@media screen and (max-width: 400px) {
    .home-slider {
        .slide {
            height: 250px;
        }
    }
}

@media screen and (max-width: $md) {
    .home-slider {
        .slide-content {
            &.align-left {
                .captions {
                    margin-left: 80px;

                    .caption-2 {
                        margin-right: 60px;
                    }
                }
            }

            &.align-right {
                .captions {
                    margin-right: 80px;

                    .caption-2 {
                        margin-left: 60px;
                    }
                }
            }

            .captions {
                width: 550px;
            }

            .caption-1 {
                font-size: 38px;
                line-height: 38px;
            }

            .caption-2 {
                font-size: 15px;
                line-height: 25px;
                margin-top: 13px;
            }

            .btn-slider {
                font-size: 14px;
                margin-top: 32px;
                padding: 8px 20px;
            }
        }
    }
}

@media screen and (max-width: $sm) {
    .home-slider {
        .slide-content {
            &.align-left {
                .captions {
                    margin: 0 50px 0 40px;

                    .caption-2 {
                        margin-right: 0;
                    }
                }
            }

            &.align-right {
                .captions {
                    margin: 0 40px 0 50px;

                    .caption-2 {
                        margin-left: 0;
                    }
                }
            }

            .caption-1 {
                font-size: 28px;
                line-height: 28px;
            }

            .caption-2 {
                font-size: 14px;
                line-height: 24px;
                margin-top: 10px;
            }

            .btn-slider {
                font-size: 13px;
                margin-top: 27px;
                padding: 6px 16px;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .home-slider {
        .slide-content {
            &.align-left {
                .captions {
                    margin: 0 30px !important;
                }
            }

            &.align-right {
                .captions {
                    margin: 0 30px !important;
                }
            }

            .caption-1 {
                font-size: 24px;
                line-height: 24px;
            }

            .btn-slider {
                margin-top: 20px;
            }
        }
    }
}

.zoomInImage {
    animation-name: zoomInImage;
}

@keyframes zoomInImage {
    from {
        transform: scale3d(1, 1, 1);
    }

    to {
        transform: scale3d(1.05, 1.05, 1.05);
    }
}
