.header-wrap-inner {
    &.sticky {
        position: fixed;
        left: 0;
        top: -200px;
        right: 0;
        min-width: 320px;
        padding: 4px 0;
        background: $color-white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        z-index: 180;

        .row {
            &.flex-nowrap {
                align-items: center;
            }
        }

        .header-logo {
            height: 55px;

            svg {
                height: 55px;
            }
        }

        .header-search {
            .header-search-lg {
                transition: $transition-default;

                &.header-search-lg-background {
                    background: $color-white;
                    border-radius: $radius-default;
                }

                .search-input {
                    height: 54px;
                }

                .btn-search {
                    height: 46px;
                    width: 46px;
                }
            }
        }

        .search-suggestions {
            top: 65px;
        }

        .searched-keywords {
            display: none;
        }
    }

    &.show {
        top: 0;
        transition: 600ms ease;
    }
}

@media screen and (max-width: $lg) {
    .header-wrap-inner {
        &.sticky {
            padding: 4px 0;
            border: none;

            .header-logo {
                margin-top: unset;
            }

            .search-suggestions {
                top: 60px;
            }
        }
    }
}
